body{
    margin: 0;
    padding: 0;
    background-color: #FFBE98;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: xx-large;
}
.container{
    border: 2px solid black;
    background-color: #feece2;
    width: 700px;
    height: 300px;
    text-align: center;
    padding: 20px 10px 20px;
    margin: auto 20px;
}
form#temp-calc{
    /* margin: 20px auto; */
}
label{
    /* margin: 10px auto 30px; */
}
form >*{
    border: none;
}
#temp-num,#temp-form{
    margin: 30px auto 20px;
    width: 100px;
    height: 25px;
}
#temp-num{
    
}
#temp-form{

}
#submit-btn{
    background-color: #eaa892;
    color: gray;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}

